
.homecontainer{
    margin: 50px 0;
}
.topPart .col {
    border: 4mm ridge rgba(211, 220, 50, .6);
    text-align: center;
    padding:50px;
    margin : 0 10px;
}
.newslinks{
    margin-bottom: 20px;
    padding:1%;
    text-decoration:none;
    display: block;
    color:cadetblue;
    border: 2mm ridge rgba(211, 220, 50, .6);
    border-radius:10%;
    transition: color 0.3s ease-in-out box-shadow 0.3s ease-in-out;
    
}
.newslinks:hover
{
    box-shadow: inset 100px 0 0 0 grey;
    color: white;
    background-color: grey;
}

